
$light: #f1f8fc;
$medium: #0074c7;
$dark: #00497c;

$grey: #384050;
$red: #cd2c2e;
$green : #82b864;

//Bootstrao
$success-color: $green;
$primary-color: $grey;
$text-primary: $grey;

// Elements
$header: $light;
$body: $medium;
$footer:$dark;


*{
    margin: 0;
    padding: 0;
    //background-color: $medium;
    box-sizing: border-box;
}

body, .App{
    background-color: $body;
}

.grey, p, h1, h2, h3, h4, h5{
    color: $grey;
}

.card{
    width: 18rem;
}

.artisan-fiche{
    background-color: $light;
    border-radius: 25px;

    transition: transform 0.3s ease-in-out;
    &:hover{
        transform: scale(1.05);
    }
}

.recherche{
    color: $light;
    .ville{
        label{
            color: $light;
        }
    }
}

.App{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    z-index: 1;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../asset/img/artisan.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.3;
        z-index: -1;
    }

    // IMAGE EN FONCTION DE LA CATEGORIE
    &.bg-cat-1::before { // Alimentation
        background-image: url(../asset/img/alimentation.webp);
    }

    &.bg-cat-2::before { // Bâtiment
        background-image: url(../asset/img/batiment.jpg);
    }

    &.bg-cat-3::before { // Fabrication
        background-image: url(../asset/img/fabrication.jpg);
    }

    &.bg-cat-4::before { // Services
        background-image: url(../asset/img/services.jpg);
    }

    h1, h2, h3, h4{
        color: $light;
    }
    ol{
        color: $light;
    }

    main.App-dody{
        flex: 1 0 auto;
    }
    .App-header{
        background-color: $header;
        //border-bottom: 1px;
        padding: 0.5rem 0;

        // DIV gauche : logo
        .logo-container{
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80px;

            a{
                display: block;
                width: 100%;
                height: 100%;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;

                -webkit-transition: transform 0.3s ease-in-out;
                transition: transform 0.3s ease-in-out;
                &:hover {
                    -webkit-transform: scale(1.1); // Un zoom léger de 5% comme pour vos fiches d'artisans
                    transform: scale(1.1);
                }
            }
        }

        // DIV droite : recherche/menu
        .search-nav-container{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            // bar de recherche
            .search-top{
                display: flex;
                justify-content: flex-end;

                form{
                    width: 100%;
                    //max-width: 500px;
                }
            }

            // bar de recherche
            input.form-control{
                background-color: $medium;
                color: $light;

                //texte de base
                &::placeholder{
                    color: $light;
                }

            }

            // boutton de recherche
            .nav-bottom{
                display: flex;
                justify-content: flex-end;

                .nav-link{
                    color: $grey;
                    font-weight: 500;

                    transition: transform 0.3s ease-in-out;
                    &:hover{
                        color: $medium;
                        transform: scale(1.5);
                    }
                }
            }

        }
    }

    .App-footer{
        background-color: $footer;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-top: auto;
        flex-shrink: 0;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
        }
        a{
            text-decoration: none;
            color: $light;
        }
        li{
            color: $light;
        }
    }
}